.list-links{
  //width: 549px;
  height: 417px;
  background: rgba(251, 252, 254, 0.2);
  border-bottom-left-radius: 67px;
  border-top-left-radius: 67px;
  padding: 63px 0 0 64px;
  box-sizing: border-box;
}

.list-links__link{
  display: block;
}