@import 'reset-css';
@import 'base';

@import url('https://fonts.cdnfonts.com/css/Poppins');
@import "header";
@import "menu";
@import "section";
@import "grid";
@import "button";
@import "list";
@import "section3";


body {
  font-family: 'Poppins';
  font-style: normal;
  font-feature-settings: normal;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  margin: auto;
  max-width: 1298px;
}

.container__content{
  max-width: 1133px;
}